body {
    background-color: rgb(254, 247, 251);
    margin: 0;
}
.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
}
.bloque {
    background-color: rgb(255, 204, 229);
    width: min(80vmin, 600px);
    height: min(180vmin, 600px);
    text-align: center;
    display: flex;
    flex-direction: column;
    box-shadow: 10px 10px 1px rgb(235, 225, 231);
}
.text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.text p {
    color: rgb(187, 19, 103);
    padding-top: 130px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 110%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.corazon {
    width: 80px;
    height: 80px;
    background-color: rgb(255, 35, 145);
    position: relative;
    top: 90px;
    transform: rotate(-45deg);
    animation: latir 1s ease-in-out infinite;
}
.corazon::before,
.corazon::after {
    content: '';
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: rgb(255, 35, 145);
}
.corazon::before {
    left: 40px;
    top: 0;
}
.corazon::after {
    top: -40px;
    left: 0;
}
@keyframes latir {
    0% {
        transform: scale(1) rotate(-45deg); /* Tamaño original */
    }
    50% {
        transform: scale(1.1) rotate(-45deg); /* Aumenta de tamaño */
    }
    100% {
        transform: scale(1) rotate(-45deg); /* Vuelve al tamaño original */
    }
}
