body {
    background-color: rgb(254, 247, 251);
    margin: 0;
}
.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
}
.bloque {
    background-color: rgb(255, 204, 229);
    width: min(60vmin, 400px);
    height: min(180vmin, 500px);
    text-align: center;
    display: flex;
    flex-direction: column;
    box-shadow: 10px 10px 1px rgb(235, 225, 231);
}
.text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.text p {
    color: rgb(187, 19, 103);
    padding-top: 25px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 2vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.text button {
    height: 70px;
    width: 140px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 10px;
    background-color: rgb(255, 140, 197);
    color: rgb(255, 255, 255);
    border: none;
    font-size: 120%;
    box-shadow: 5px 5px 1px rgb(181, 150, 169);
}
.corazon {
    width: 80px;
    height: 80px;
    background-color: rgb(255, 35, 145);
    position: relative;
    transform: rotate(-45deg);
    animation: latir 1s ease-in-out infinite;
}
.corazon::before,
.corazon::after {
    content: '';
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: rgb(255, 35, 145);
}
.corazon::before {
    left: 40px;
    top: 0;
}
.corazon::after {
    top: -40px;
    left: 0;
}
@keyframes latir {
    0% {
        transform: scale(1) rotate(-45deg); /* Tamaño original */
    }
    50% {
        transform: scale(1.1) rotate(-45deg); /* Aumenta de tamaño */
    }
    100% {
        transform: scale(1) rotate(-45deg); /* Vuelve al tamaño original */
    }
}
.opciones {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.opciones button {
    height: 70px;
    width: 90px;
    border-radius: 10px;
    background-color: rgb(226, 27, 126);
    color: rgb(255, 255, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    border: none;
    box-shadow: 5px 5px 1px rgb(181, 150, 169);
}
